/* Background Gradient */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #6d28d9, #9333ea, #a855f7);
  color: #fff;
  min-height: 100vh;
  text-align: center;
}

header {
  padding: 20px;
}

header h1 {
  margin: 0 0 10px;
  font-size: 2rem;

  color: #f3e8ff;
}

/* Tabs */
nav {
  margin-bottom: 20px;
}

.tab-btn {
  background: rgba(255,255,255,0.15);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
  font-size: 1rem;
}

.tab-btn:hover {
  background: rgba(255,255,255,0.3);
}

.tab-btn.active {
  background: #351157;
}

/* Cards */
.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(6px);
  padding: 20px;
  margin: 20px auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 800px;
}



/* Tab Content */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

canvas {
  margin-top: 20px;
  max-width: 700px;
  width: 100%;
  background: rgba(255,255,255,0.08);
  padding: 15px;
  border-radius: 12px;
}
